// Pallet
/* Color Theme Swatches in Hex */
$clr-2: #000000;
$clr-1: #1b1b1b;
$clr0: #656565;
$clr1: #D5D5D5;

$clrPrimary: #52F207;
$clrSecondary: #C0FF6A;

// Fonts
$ralewayBold: Raleway-Bold;

// Breakpoints
$mobile-breakpoint: 420px;
$tablet-breakpoint: 920px;
$desktop-breakpoint: 1300px;


// Layout Paddings

