body {
    background-color: $clr-1;
    background-image: url(../../img/magicpattern-svg-chart-1672086981656.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

